@import "~bootstrap/scss/bootstrap";

body{
	text-align: left;
	padding: 0;
	margin: 0;
}



/*======home======*/

.container{
	position: relative;
	padding: 0 100px;
	min-height: 100vh;
}

.container:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 350px;	
	height: 100%;
	background: #333;
	z-index: -2;
}

.container:after{
	content: 'Healthy';
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 18vw;
	z-index: -2;
	font-weight: 700;
	color: orange;
	opacity: 0.10;	
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

header .logo{
	font-weight: 700;
	text-transform: uppercase;
	color: #333;
	text-decoration: none;
	font-size: 30px; 
}

header .logo span{
	color: #78ff00;
}

header ul{
	position: relative;
	display: flex;
}

header ul li{
	list-style: none;
	margin: 0 20px;

}

header ul li a{
	position: relative;
	text-decoration: none;
	font-size: 18px;
	padding: 4px 10px;
	color: orange;
	text-decoration: none;
}

header ul li a:nth-child(3) a,
header ul li a:nth-child(4) a{
	color: #fff;
}

header ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #78ff00;
	z-index: -1;
	transition: 0.5s ease-in-out;
}

header ul li a:hover:before,
header ul li a.active:before{
	width: 40px;
}

.content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}

.content .bannerText{
	position: relative;
	max-width: 500px;
	margin-right: 50px;
}

	.content .bannerText div
	{
		display: none;
	}

.content .bannerText div.active
{
	display: initial;
}

.content .bannerText h2{
	font-size: 54px;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 1.2em;
	color: #333;
}

.content .bannerText p{
	font-size: 18px;
	color: #333;
	line-height: 1.8em;
	margin: 20px 0;
}

.content .bannerText a{
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	color: #333;
	letter-spacing: 1px;
	font-size: 18px;
	text-decoration: none;
	padding: 15px;
}

.content .bannerText a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 100%;
	background: #78ff00;
	z-index: -1;
	transition: 0.5s ease-in-out;
}

.content .bannerText a:hover:before{
	width: 100%;
}

.content .bannerImg{
	position: relative;
	width: 440px;
	height: 440px;
	background: #000;
}

.content .bannerImg img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	object-fit: cover;
	transition: 0.5s;
	opacity: 0;
}

.content .bannerImg img.active{
	opacity:1;
}

.icons
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0;
}

.icons .sci,
.icons .controls{
	position: relative;
	display: flex;
}

.icons .sci li
{
	list-style: none;
	margin-right: 30px;
}

.icons .sci li img{
	display: inline-block;
	max-height: 24px;
	transition: 0.5s ease-in-out;
}

.icons .sci li:hover img{
	transform: translateY(-10px);
}

.icons .controls li{
	list-style: none;
	margin-left: 20px;
	cursor: pointer;
	filter:invert(1);
	transition: 0.5s ease-in-out;	
}

.icons .controls li:hover{
	opacity: 0.5;
}

.menuIcon{
	display: none;
}

@media (max-width: 992px) {
	.container{
		padding: 20px 50px;
	}
	.container:before{
		display: none;
	}
	header{
		padding: 0;
	}
	.icons .controls li{
		filter: invert(0);
	}
	.content .bannerText h2{
		font-size: 30px;
	}
	.content{
		margin-top: 0;
		flex-direction: column-reverse;
	}
	.content .bannerImg{
		width: 100%;
		height: 40vh;
		margin: 20px 0;
	}
	.content .bannerText{
		max-width: 100%;
		padding-right: 0;
	}



/*======navbar======*/

	header ul{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 80vh;
		background: #fff;		
		z-index: 10000;
		padding: 100px 0;
		
	}

	header .active ul{
		display: initial;
	}

	header ul li{
		padding: 20px;
		text-align: center;
	}

	header ul li a{
		font-size: 36px;

	}

	header ul li a:hover:before,
	header ul li a.active:before{
		width: 100%;
	}

	.menuIcon{		
		display: initial;
		position: fixed;
		right: 75px;
		cursor: pointer;
		padding: 8px;
		z-index: 100000;
		background: #fff url("../assets/img/menuh.png");
		width: 34px;
		height: 34px;
		background-repeat: no-repeat;
		background-position: 6px;		
	}

	header.active .menuIcon{
		background: #fff url("../assets/img/close.png");
		background-repeat: no-repeat;
		background-position: 6px;
		width: 34px;
		height: 34px;					
	}


}

@media (max-width: 767px){
	.container
	{
		padding: 20px 30px;
	}
	.menuIcon{
		right: 35px;
	}

	.icons .controls li img{
		max-width: 40px;
		right: 35px;
	}
}

@media (max-width: 400px) {
	.icons .controls li img{
		max-width: 40px;
		right: 55px;
	}
	.menuIcon{
		right: 35px;
	}
	.service_section .container{
		max-width: 100%;
	}
}


/*======menu======*/

.service_section {
    background-color: Black;
    color: #333;
    padding: 150px;
    width: 100%;

    @media (min-width: 300px) {
    padding: 0;
    }
}

.service_section h4{
	padding-top: 40px;
}

.service_section .container{
	opacity: solid;
}

.dark {
    color: #78ff00;
}

.sec_title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 25px;
    padding: 14px 0;
    color: orange;    
}

.color_aaa {
    color: orange;
}

.row.custom_column .col-lg-3 .col-sm-4 .col-md-3 {
  width: 20% !important;
    flex: 0 0 20%;
}

.box {
    display: inline-block;
    position: relative;
    width: 100%;
    background: transparent;
    perspective: 1000;
    transform-style: preserve-3d;
    transition: all ease 400ms;
}

.box .flipper {
    transform-origin: 100% 213.5px;
    margin-top: 60px;
}

.box .front i,
.box .back i {
    font-size: 64px;
    line-height: 1;
    color: orange;
    display: block;
    margin-bottom: 17px;
    transition: all ease 400ms;
}

.box .front h3,
.box .back h3 {
    font-size: 20px;
    align-items: center;    
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #aaaaaa;
    margin: 0;
    transition: all ease 400ms;
}

.flipper{
    transform: perspective(1000px);
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    background: white;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    border: 2px solid rgba(27, 27, 27, 1);
    padding: 48px 45px 45px;
    width: 100%;
}

.back {
    background: #78ff00;
    transform: rotateY(-180deg);
    position: relative;
    padding: 48px 45px 45px;
    border: 2px solid #00bcd4;
    width: 100%;
}

.box:hover .front {
    transform: rotateY(180deg);
}

.box:hover .back {
    transform: rotateY(0deg);
}

.box .back h3,
.box .back i {
    color: white;
}

a.box.text-center {
    text-decoration: none;
}


.p-large {
    color: #fff;
    font: 400 1rem/1.5rem;
    font-family: 'Roboto',sans-serif;
}

.p-heading {
    margin-bottom: 3.75rem;
    text-align: center;
}




/*======about======*/

.container1 {
  width: 95%;
  max-width: 60em;
  margin: 0 auto;

  @media (min-width: 300px) {
           width: 100%;
  }
}

.about img {
    @media (min-width: 300px) {
    height: 500px;
    }
}

.about {
  justify-content: center;
  padding-top: 10px;
  text-align: center;
  color: #78ff00;
}

.about-textbox {
  background-color: #333;
  font-size: 5rem;
  padding: 3.5em;
  width: 100vw;
  margin-left: -2.5%;
  outline: 2px solid #78ff00;
  outline-offset: -2.5em;
  color: white;
  font-family: sans-serif;
  position: relative;
}

@media (min-width: 300px) {

  .about-textbox {
    width: 100%;
    font-size: 1.5em;
    margin-left: 0;        
    margin-top: -28%;
    top: -5em;
    text-align: center;
    padding: 2em;
    outline-offset: -1.5em;
  }

  .about-textbox h2{
    left: 6em;
    transform: translateX(0);    
  }
}


/*======location======*/

#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }

.container2 h3{
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	color: #78ff00;
	font-weight: 700;
}       

.container2 p{
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	color: black;
	font-weight: 5	00;
}