@import "~bootstrap/scss/bootstrap";

* 
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;   
}

.container
{
	position: relative;
	padding: 0 100px;
}

header
{
	display: flex;
	justify-content: space-between;
	align-items: center;	
}



